* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/back.jpg);
}

button {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 50px;
    padding: 15px;
    border: 3px solid black;
}

#b {
    left: 25%;
}

#m {
    left: 50%;
}

#h {
    left: 75%;
}

#myp {
    position: absolute;
    left: 50%;
    top: 17%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 50px;
}

#time {
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 50px;
}

#key {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 250px;
}